@import "tailwindcss";

@theme {
  --color-clifford: #da373d;
}
/* font lora  */
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font great-vibes  */
.great-vibes {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}

/* font cinzel  */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
