@import "tailwindcss";

@theme {
  --color-clifford: #da373d;
}
/* font lora for body text */
.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* font great-vibes for logo  */
.great-vibes {
  font-family: "Great Vibes", serif;
  font-style: normal;
}

/* font cinzel for hero and title */
.cinzel-dec {
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
}

button,
p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
}
